.profile-management {
    text-align: center;
    background-color: #f8f9fa; /* Couleur d'arrière-plan douce */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    max-width: 400px;
    margin: 20px auto; /* Centrer le composant */
  }
  
  .profile-management h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333; /* Texte sombre */
  }
  
  .profile-management button {
    display: inline-block;
    width: 200px;
    background-color: #003078; /* Couleur principale */
    color: #fff; /* Couleur du texte */
    font-size: 0.85rem; /* Taille de texte réduite */
    padding: 8px 12px; /* Espace intérieur */
    margin: 10px; /* Espace entre les boutons */
    border: none;
    border-radius: 150px; /* Coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animation fluide */
  }
  
  .profile-management button:hover {
    background-color: #0056b3; /* Couleur plus foncée au survol */
    transform: translateY(-2px); /* Léger déplacement vers le haut au survol */
  }
  
  .profile-management button:active {
    transform: translateY(0); /* Annule le déplacement lorsqu'on clique */
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* Effet de bouton pressé */
  }
  