

  
 /* .container {
    
  } */
  .navbar {
    display: flex;
    padding: 10px 20px;
    
  
  }
  
  .nav-list {
    list-style-type: none;
    
    
    margin: 0;
    padding: 0;
    display: flex;
 }
  
  
  .nav-list li {
    margin-top: 20px;
    justify-content:flex-end;
    
  }
  
  /* .nav-list li:first-child {
    margin-right: auto;
  } */
  
  .nav-list a, .nav-list button {
    text-decoration: none;
    color:blue;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .nav-list a:hover, .nav-list button:hover {
    color: #007bff;
  }
  
 